.card{
    display: flex;
    flex-direction: column;
   
    width: 20rem;
   
    
    border-radius: 0.2rem;
    box-shadow: 0 0 10px gray;
    overflow: hidden;
}
.card img{
    height: 12rem;
}

.country{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 1rem 1.5rem 3rem 1.5rem;

  
}
.details{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}