.header{
    /* background-color: aqua; */
   
    display: flex;
    align-items: center;
    padding: 2rem 3rem 2rem 3rem;
    justify-content: space-between;
    box-shadow: 0 0 10px gray;
    /* background-color: aliceblue; */
    margin-bottom: 0.2rem;
   
   
 
}
.header button{
    display: flex;
    background: none;
    border: none;
    column-gap: 1rem;
    align-items: center;

}