
.outer-container{
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    padding: 5rem;
    min-height: 70vh;
}
.country-details-container{
   display: flex;
   column-gap: 10rem;

    
}
i{
    margin-right: 0.5rem;
}

.country-details-container h1{
    font-size: 50px;
}
.details-container{
    align-self: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  
}

.column-container{
    display: flex;
 
    column-gap: 2rem;
    font-size: 20px;
    font-weight: bold;
}
.columnOne{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.columnTwo{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

/* .flag{
   
    width: 40rem;
    height: 26.7rem;
    
} */
.flag img{
    width: 40rem;
   
 
    object-fit: fill;
    box-shadow: 0 0 10px gray;
   
}
button{
    width: 10rem;
    height: 2rem;
    border: none;
     border: 1px solid #ccc;
 
  word-wrap: break-word;
  border-radius: 0.5rem;
}
.border-contries-container{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}
.border-contries-container div{
    display: flex;
    padding-left: 1rem;
    column-gap: 1rem;
   flex-wrap: wrap;
   
    
}

.botton-border{
    
    max-width: 400px; 
  padding: 10px;
  border: 1px solid #ccc;
 
  word-wrap: break-word;
  border-radius: 0.5rem;


}