
body{
  padding: 0;
  margin: 0;
  display: flex;
  /* flex-direction: column; */

}
*{
  text-decoration: none;
  color: inherit;
}
#root {
  flex-basis: 100%;
  
}
h1,h2,h3,h4{
  padding: 0;
  margin: 0;
}

.main-container{
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  padding: 4rem;
  background-color: hsl(0,0%,98.04%);
  min-height: 70vh;
}

.cards-container{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  gap:1.5rem;
}



.error{
  display: flex;
  align-items:center ;
  column-gap: 1rem;
}

.dark{
  background-color: hsl(222.86,6.67%,20.59%);
  color: white;
}
.inputs{
  display: flex;
  justify-content: space-between;
}

/* loader */

.loader {
  margin-left: 20rem;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}



/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.notFound{

  text-align: center;
}